/* NAVIGATION STUFF GOES HERE  */
nav {
    ul {
        display: flex;
        justify-content: space-around;
    }
    ul li a {
        margin: 5px 0;
        border: none;
    }
    ul li.active a {
        background-color: $secondaryColor;
        color: #fff;
        border: solid 1px #fff;
    }
    ul li a:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: solid 2px #fff;
    }
}